* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

body {
  color: #000;
}
body a {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
}
.main-header .img-box {
  margin-right: 3rem;
}
.main-header .img-box img {
  width: 90%;
}
.main-header nav {
  height: 130px;
}
.main-header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-header nav ul li {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  height: 100%;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-in-out;
}
.main-header nav ul li a {
  transition: all 0.5s ease-in-out;
}
.main-header nav ul li:hover a {
  color: #0b7bea;
}
.main-header nav ul li:hover {
  border-bottom: 3px solid #0b7bea;
}
.main-header nav ul li.active {
  border-bottom: 3px solid #0b7bea;
}
.main-header nav ul li.active a {
  color: #0b7bea;
}

.main-comics {
  background-color: #1c1c1c;
  padding: 3rem 0 1.5rem;
}
.main-comics .cards {
  display: flex;
  flex-wrap: wrap;
}
.main-comics .cards .card {
  width: 16.6666666667%;
  padding: 0.7rem;
}
.main-comics .cards .card .img-box {
  width: 100%;
  height: 185px;
}
.main-comics .cards .card .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.main-comics .cards .card h4 {
  color: #cbcbcb;
  font-weight: 400;
  margin: 1.2rem 0rem 2rem;
}
.main-comics button {
  padding: 1rem 4rem;
  background-color: #0b7bea;
  color: #fff;
  border: none;
  font-weight: 800;
  margin: 3rem auto 0;
}

.main-comic-detail {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  color: #fff;
}
.main-comic-detail .container {
  padding: 0 8rem;
  height: 100%;
}
.main-comic-detail .container .card-box {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.main-comic-detail .container .card-box .box {
  position: relative;
  transform: translateY(50px);
  border: 0.5px solid #fff;
}
.main-comic-detail .container .card-box .box img {
  display: block;
}
.main-comic-detail .container .card-box .box span {
  position: absolute;
  font-size: 0.7rem;
}
.main-comic-detail .container .card-box .box .comic-book {
  top: 0;
  left: 0;
  background-color: #01a8d9;
  color: #fff;
  padding: 0.3rem 0.3rem;
}
.main-comic-detail .container .card-box .box .gallery {
  bottom: 0;
  background-color: #01a8d9;
  width: 100%;
  text-align: center;
  padding: 0.3rem 0;
}

.main-comic-detail-2 {
  border-top: 70px solid #0b7bea;
  height: 550px;
}
.main-comic-detail-2 .container {
  padding: 0 8rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-comic-detail-2 .container .info-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-comic-detail-2 .container .info-box .info-1 {
  width: 70%;
  padding-right: 50px;
}
.main-comic-detail-2 .container .info-box .info-1 p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  color: gray;
}
.main-comic-detail-2 .container .info-box .info-1 .green-bar {
  background-color: #54ba57;
  color: #fff;
  font-size: 0.8rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-comic-detail-2 .container .info-box .info-1 .green-bar .div-1 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0.5rem;
  border-right: 2px solid green;
}
.main-comic-detail-2 .container .info-box .info-1 .green-bar span {
  color: rgba(255, 255, 255, 0.516);
}
.main-comic-detail-2 .container .info-box .info-1 .green-bar .text-white {
  color: #fff;
}
.main-comic-detail-2 .container .info-box .info-1 .green-bar .div-2 {
  padding: 0.5rem;
  text-align: center;
}
.main-comic-detail-2 .container .info-box .adv-box {
  display: flex;
  position: relative;
  width: 30%;
}
.main-comic-detail-2 .container .info-box .adv-box .adv {
  position: absolute;
  top: -20px;
  left: 63%;
  font-size: 0.8rem;
  font-weight: 800;
  color: #7d7d7d;
}

.main-footer {
  padding: 3rem 0;
  background-color: #303030;
  border-top: 20px solid #0b7bea;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.main-footer .container .list-box {
  display: flex;
  align-items: center;
}
.main-footer .container .list-box span {
  color: #0b7bea;
  margin-right: 0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
}
.main-footer .container .list-box ul {
  display: flex;
}
.main-footer .container .list-box ul li {
  margin-left: 1rem;
}
.main-footer .container button {
  border: 2px solid #0b7bea;
  background-color: transparent;
  padding: 1rem 1rem;
  color: #fff;
  font-size: 1.2rem;
}